
<h1>Edit comment</h1>


<%= form_with model: [@project, @task, @comment] do |form|%>
   <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  
  <div>
      <%= form.submit %>
  </div>

<% end %>