<h1>Edit Comment</h1>

<%= form_with model: [@project, @task, @comment] do |form| %>
     <div>
        <%= form.label :content %>
        <%= form.text_field :content %>
    </div>
    <%= form.submit "edit comment" %>
<% end %>